# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.so

# -------------------------
# Virtual Environments
# -------------------------
venv/
env/
.venv/
backend/env/

# -------------------------
# Environment Variables
# -------------------------
.env
*.env
backend/.env

# -------------------------
# Django
# -------------------------
db.sqlite3
media/
staticfiles/

# -------------------------
# Celery
# -------------------------
celerybeat-schedule

# -------------------------
# Logs
# -------------------------
*.log
logs/

# -------------------------
# Testing
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# IDE
# -------------------------
.idea/
.vscode/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db
